<div class="span9">
  <a href="<%= new_story_path %>">Create a story</a>
  <div>
  <a href="<%= story_index_path %>">View stories</a>
  </div>
  <div>
    This will be the homepage for the site.
  </div>
</div>
