body#application_background {
  width: 980px;
  margin: auto;
  padding: 5px;
  background-color: gray;
}

div#application_content, div#application_header {
  background-color: white;
  padding: 5px 10px 5px 10px;
  position: relative;
}

div#header_logo {
  float: left;
  width: auto;
  height: auto;
}

div#header_search_bar {
  padding-left: 20%;
  padding-top: 10px;
  float: left;
  text-align: center;
  width: 365px;
}

div#header_profile_info {
  text-align: right;
}

hr#header_hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

table#story_list tbody tr td, table#story_list thead th, table#story_list {
  border: solid black 1px;
  border-spacing: 0px;
}

table#story_list tbody tr td, table#story_list thead th {
   padding: 5px;
}

.border1 {
  border: solid black 1px;
  border-spacing: 0px;
  border-collapse: collapse;
}

#searchbar {
  float: left;
  width: 200px; 
}

#searchbar_dropdown {
  float: right;
}
