This will contain the header.
<span style="float: left;">
  Logo, homepage link
</span>
<span style="padding-left: 300px; text-align: center;">
  Search bar?
</span>
<span style="float: right;">
  My Profile, login information, etc
</span>
