<span style="float: left;">
  Logo, homepage link
</span>
<span style="padding-left: 300px; text-align: center;">
  Search bar?
</span>
<span style="float: right;">
  <% if signed_in? %>
    <%= link_to "My Profile", user_path(current_user) %>
  <% else %>
    <%= link_to "Sign in", "/signin" %> <br/>
    Don't have an account? <%= link_to "Sign up here", "/signup" %> 
  <% end %>
</span>
